<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ th_article['title'] }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <a href="{{ url_for('index') }}">Back to Home</a>
      <h1>{{ th_article['title'] }}</h1>
      <p>Date: {{th_article['date'] }}</p>

      {% if th_article['imgs']|length > 0 %}
      {% for img in th_article['imgs'] %}
        <img src="{{ img }}" alt="" sizes="" srcset="">
      {% endfor %}
      {% endif %}

      <p>{{th_article['content']}}</p>
      <p>By: {{th_article['author']}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>